name: Build, Test

# Триггеры
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # Checkout репозитория
      - name: Checkout repository
        uses: actions/checkout@v4

      # Java 21
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '21'
          cache: gradle

      # Права на gradlew
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      # Сборка service-postgres
      - name: Build service-postgres
        run: ./gradlew :service-postgres:clean :service-postgres:build

      # Сборка service-redis
      - name: Build service-redis
        run: ./gradlew :service-redis:clean :service-redis:build

      # Тесты service-postgres
      - name: Test service-postgres
        run: ./gradlew :service-postgres:test

      # Тесты service-redis
      - name: Test service-redis
        run: ./gradlew :service-redis:test
